@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Vazirmatn", "IRANSans", "Tahoma", "Segoe UI", system-ui, sans-serif;
}

body {
  min-height: 100vh;
}

.table :where(th, td) {
  text-align: right;
}
